###What are Dataframes:

Dataframes generally refers to a data structure, which is tabular in nature. It represents Rows, each of which consists of a number of observations. 

####Why do we need Dataframes

(1)  Dataframes are designed to process a large collection of **structured as well as Semi-Structured data.** Observations in Spark DataFrame are organized under named columns, which helps Apache Spark to understand the schema of a DataFrame. This helps Spark optimize execution plan on these queries. It can also handle Petabytes of data.

(2)  Data frame APIs usually supports elaborate methods for **slicing-and-dicing **the data. It includes operations such as “selecting” rows, columns, and cells by name or by number,  filtering out rows, etc. Statistical data is usually very messy and contain lots of missing and wrong values and range violations. So a critically important feature of data frames is the explicit management of missing data.

### Dataframe Creation in Pyspark

A DataFrame in Apache Spark can be created in multiple ways:

(1)  It can be created using different data formats. For example, loading the data from JSON, CSV.

(2)  Loading data from Existing RDD.

In [0]:
#spark session

spark = SparkSession.builder \
  .master("local") \
  .appName("df create") \
  .getOrCreate()


from pyspark.sql import *
 
Employee = Row("firstName", "lastName", "email", "salary")
 
employee1 = Employee('aman', 'sharma', 'aman@gmail.co', 100000)
employee2 = Employee('kanak', 'rai', 'kanak@gmail.edu', 120000 )
employee3 = Employee('vinod', None, 'vinod@gmail.edu', 140000 )
employee4 = Employee('rani', 'arora', 'rani@gmail.co', 160000 )
employee5 = Employee('punit', 'singh', 'punit@gmail.co', 160000 )
 
print(employee3)

Row(firstName='vinod', lastName=None, email='vinod@gmail.edu', salary=140000)

In [0]:
# create department DF

department1 = Row(id='123456', name='HR')
department2 = Row(id='789012', name='OPS')
department3 = Row(id='345678', name='FN')
department4 = Row(id='901234', name='DEV')

# create department with employee

departmentWithEmployees1 = Row(department=department1, employees=[employee1, employee2, employee5])
departmentWithEmployees2 = Row(department=department2, employees=[employee3, employee4])
departmentWithEmployees3 = Row(department=department3, employees=[employee1, employee4, employee3])
departmentWithEmployees4 = Row(department=department4, employees=[employee2, employee3])


#create Dataframe from the list of Rows

departmentsWithEmployees_Seq = [departmentWithEmployees1, departmentWithEmployees2]
dframe = spark.createDataFrame(departmentsWithEmployees_Seq)
display(dframe)
dframe.show()

DataFrame[department: struct<id:string,name:string>, employees: array<struct<firstName:string,lastName:string,email:string,salary:bigint>>]

+------------+--------------------+
|  department|           employees|
+------------+--------------------+
| [123456,HR]|[[aman,sharma,ama...|
|[789012,OPS]|[[vinod,null,vino...|
+------------+--------------------+

### Reading Data from CSV file

Here we are going to use the spark.read.csv method to load the data into a dataframe emp_df

In [0]:
emp_df = spark.read.csv("/content/emp.csv", inferSchema = True, header = True)
 
emp_df.show()

+------+---+---+-----+
|  name|age|sex|marks|
+------+---+---+-----+
|  amar| 24|  m|   34|
|mahesh| 25|  m|   36|
| gitah| 23|  f|   31|
|  ritu| 24|  f|   30|
|  aman| 25|  m|   32|
| nilam| 26|  f|   37|
+------+---+---+-----+

#### Column Names and Count (Rows and Column)

When we want to have a look at the names and a count of the number of Rows and Columns of a particular Dataframe, we use the following methods.

In [0]:
emp_df.columns #Column Names
 
emp_df.count() #Row Count
 
len(emp_df.columns) #Column Count

4

If we want to have a look at the summary of any particular column of a Dataframe, we use the describe method. This method gives us the statistical summary of the given column

In [0]:
emp_df.describe('marks').show()

+-------+------------------+
|summary|             marks|
+-------+------------------+
|  count|                 6|
|   mean|33.333333333333336|
| stddev|2.8047578623950162|
|    min|                30|
|    max|                37|
+-------+------------------+

In [0]:
emp_df.describe('name').show()

In [0]:
emp_df.select('name','age').show()

+------+---+
|  name|age|
+------+---+
|  amar| 24|
|mahesh| 25|
| gitah| 23|
|  ritu| 24|
|  aman| 25|
| nilam| 26|
+------+---+

In [0]:
# Filtering Data

# where age = 24
emp_df.filter(emp_df.age=='24').show()

+----+---+---+-----+
|name|age|sex|marks|
+----+---+---+-----+
|amar| 24|  m|   34|
|ritu| 24|  f|   30|
+----+---+---+-----+

In [0]:
emp_df.orderBy(emp_df.age).show()

+------+---+---+-----+
|  name|age|sex|marks|
+------+---+---+-----+
| gitah| 23|  f|   31|
|  amar| 24|  m|   34|
|  ritu| 24|  f|   30|
|  aman| 25|  m|   32|
|mahesh| 25|  m|   36|
| nilam| 26|  f|   37|
+------+---+---+-----+

### Performing SQL Queries


We can also pass SQL queries directly to any dataframe, for that we need to 
create a table from the dataframe using the registerTempTable method and then
use the sqlContext.sql() to pass the SQL queries.

In [0]:
from pyspark.sql import SQLContext

sqlContext = SQLContext (sc)

emp_df.registerTempTable('emp_table')
 
sqlContext.sql('select * from emp_table').show()

+------+---+---+-----+
|  name|age|sex|marks|
+------+---+---+-----+
|  amar| 24|  m|   34|
|mahesh| 25|  m|   36|
| gitah| 23|  f|   31|
|  ritu| 24|  f|   30|
|  aman| 25|  m|   32|
| nilam| 26|  f|   37|
+------+---+---+-----+

In [0]:
sqlContext.sql('select * from emp_table where age = 26').show()

+-----+---+---+-----+
| name|age|sex|marks|
+-----+---+---+-----+
|nilam| 26|  f|   37|
+-----+---+---+-----+

As shown in previous example you can run  sql select query on dataframe. experiment and practice with sql and dataframe to learn more.

**Happy learning!**